$prymaryColor: #ffdc39;
$prymaryTitleColor: #232323;

@mixin btn {
    color: #232323;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 1px;
    background-color: $prymaryColor;
    border-radius: 5px;
    line-height: 10px;
    padding: 0px 15px 0px 40px;
    transition: all .3s ease-in-out;
    &:hover {
        color: #232323;
        background-color: #f3ca16;
    }
    span {
        position: relative;
        padding: 15px 0;
        display: block;
        &::before {
            content: '';
            position: absolute;
            background: url(../../assets/img/tel.svg);
            width: 16px;
            height: 16px;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1248px;
    margin: 0 auto;
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #17224D;
}
//Header
.header__box {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    max-width: 188px;
    max-height: 71px;
}
.btN {
    @include btn();
}
//quality-roofs
.quality-roofs {
    background: url(../../assets/img/laying-roof-tiles.jpg)no-repeat;
    background-size: cover;
    background-position: 100% 8%;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: $prymaryTitleColor;
        width: 100%;
        height: 100%;
        opacity: .4;
    }
}
.quality-roofs__box {
    padding: 256px 0 224px;
    position: relative;
    color: #fff;
    text-align: center;
}
.quality-roofs__inner {
    width: 700px;
    margin: 0 auto;
}
.quality-roofs__title {
    font-size: 72px;
    font-weight: 700;

}
.quality-roofs__dscr {
    font-size: 48px;
}
.quality-roofs__btn {
    @include btn();
}
//Forms
.forms {
}

.forms__inner {
    display: grid;
    grid-template-columns: .53fr 1fr;
    margin-top: -9em;
    position: relative;
}
.forms__left {
    background-color: #5d5d5d;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forms__img-tel {
    width: 70px;
    height: 70px;
    background: url(../../assets/img/tel-big.svg);
    margin-bottom: 20px;
}

.forms__mini-dscr {
    font-size: 15px;
    color: #f5f5f5;
    margin-bottom: 20px;
}
.forms__number {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    &:hover {
        color: #fff;
    }
}
.forms__right {
    background-color: #f5f5f5;
    padding: 48px;
    color: #232323;
}
.forms__title {
    font-size: 29px;
    font-weight: 600;
}
.forms__dscr {
    font-weight: 500;
}
.test {
    display: inline !important;
    width: 49% !important;
}
.form-control {
    width: 99%;
}
.form__btn {
    display: flex;
    justify-content: end;
    margin-right: 9px;
}
.forms__button {
    background-color: $prymaryColor;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #f2c80d;
    }
}
//about
.about {
    background-image: url(../../assets/img/Background-Dots-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 2em 2em 2em;
}
.about--margin-top {
    margin-top: 50px;
}
.about__box {
    display: flex;
    gap: 50px;
}
.about__box-revers {
    flex-direction: row-reverse;
}
.about__left {
    width: 50%;
}
.about__title {
    font-size: 48px;
    font-weight: 700;
    color: #232323;
}
.about__text {
    line-height: 25px;
}
.about__btn {
    @include btn();
}
.about__min-img {
    max-width: 180px;
    margin-left: 50px;
    margin-top: 30px;
}
.about__right {
    width: 50%;
}
.about__img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 75px 75px 0px -50px #ffdc39;
}
//difference
.difference {
    background-image: url(../../assets/img/four-gabled-rooflines.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: #fff;
        opacity: .94;
        width: 100%;
        height: 100%;

    }
}
.difference__box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px 0;
}
.difference__left {
    max-width: 520px;
}
.difference__title {
    font-size: 48px;
    color: #232323;
    font-weight: 700;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background-color: $prymaryColor;
        height: 3px;
        width: 200px;
        bottom: -20px;
    }
}
.difference__dscr {
    line-height: 25px;
}
//services
.services__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.services__inner {
    max-width: 395px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 28%);
    padding: 0.5em 0.5em 1em 0.5em;
}
.services__img {
    width: 100%;
    max-height: 260px;
    object-fit: cover;
}
.services__name {
    font-size: 28px;
    font-weight: 700;
    padding-left: 16px;
    margin-bottom: 20px;
}
.services__dscr {
    line-height: 25px;
}
//quality
.quality {
    margin-top: 50px;
}
.quality__title {
    font-size: 45px;
    font-weight: 700;
    padding-left: 30px;
    color: #232323;
}
.quality__dscr {
    padding-left: 30px;
    margin-bottom: 50px;
}
.quality__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.quality__img,
.quality__img2 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.quality__img {
    box-shadow: -75px 75px 0px -50px #ffdc39;
}
.quality__img2 {
    box-shadow: 75px -75px 0px -50px #ffdc39;
}
//quality-first-job
.quality-first-job {
    margin-top: 100px;
    background-image: url(../../assets/img/joyous-construction-site-worker-with-hammer-building-a-roof-carcass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.4;
    }
}
.quality-first-job__title {
    position: relative;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color: #fff;
    padding: 150px 0;
}
//roofing-professionals
.roofing-professionals {
    margin-top: 100px;
}
.roofing-professionals__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.roofing-professionals__left {
    height: 550px;
}
.roofing-professionals__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: -75px 75px 0px -50px #ffdc39;
}
.roofing-professionals__title {
    font-size: 48px;
    font-weight: 800;
    color: #232323;
}
.roofing-professionals__dscr {
    line-height: 25px;
    margin-top: 30px;
}
.roofing-professionals__btn {
    @include btn();
    margin-top: 50px;
}